---
---

@import "{{ site.theme }}";

.tag-h3 {
    display: none
}

ul#navigation {
  list-style: none;
  margin: 0;
  padding: 0 0 2em;
  apadding-bottom: 2em;
}

#navigation #prev, #navigation #next {
  border: 1px solid #dba500;
  background: linear-gradient(#ffe788, #ffce38);
  border-radius: 2px;
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.4), 0px 1px 1px rgba(0, 0, 0, 0.1);
  background-color: #FFE788;
  margin-left: 5px;
  padding: 10px 12px;
  margin-top: 6px;
  line-height: 14px;
  font-size: 14px;
  color: #333;
  font-weight: bold;
  display: inline-block;
  text-align: center
}

#navigation #prev:hover, #navigation #next:hover {
  background: linear-gradient(#ffe788, #ffe788);
  background-color: #ffeca0
}

#navigation #prev:before, #navigation #next:after {
  font-size: 2em;
  vertical-align: bottom;
}

#navigation #next { float:right }
#navigation #next:after { content: ' 🡆' }

#navigation #prev { float:left }
#navigation #prev:before { content: '🡄 ' }
